* {
	margin: 0px;
	padding: 0px;
}
.App {
	min-height: 100vh;
	background: #ffc3c3;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.App__heading {
	font-size: 30px;
	text-align: center;
	margin: 20px 0px;
	text-transform: uppercase;
	font-weight: bold;
}

form.App__form {
	display: flex;
	flex-direction: column;
}

label.form__heading {
	align-self: center;
}

input.form__button {
	width: 100px;
	align-self: center;
	margin: 10px 0;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid;
	cursor: pointer;
	background: #f1e4be;
	font-weight: bold;
}

input.form__input {
	padding: 6px;
	border-radius: 4px;
	margin-left: 12px;
	width: 425px;
}

.form__todos {
	width: 80%;
	display: flex;
	flex-direction: column;
}
.form__todos__wrapper {
	display: flex;
	justify-content: center;
}
.form__todo {
	background: #ffffff;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
	padding: 8px;
	border-radius: 2px;
	box-shadow: 3px -1px 1px 1px #48474712;
}
.todo__delete {
	background: red;
	padding: 3px;
	cursor: pointer;
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
